*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1120px;
    margin: auto;
}


a{
    text-decoration: none;
}
.header{
    background-color: aqua;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container .logo{ 
    align-content:end ;
    
}
.container .logo img{
    width: 80px;
    height: 80px;
   
}
.menu ul{
    display: flex;
}

.menu ul li{
    
    margin: 10px;
    padding:10px;
    list-style: none;
    background-color:whitesmoke;
    border-radius: 10px; 
}
.menu ul li a{
   
    
}
.menu ul li a:hover{
    background-color:tomato;
    text-align: center;
   
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px; 
    
}
